@if (verdict) {
@if (riskValueExists(verdict)) {
<div class="card mt-4">
    <div class="card-header text-white bg-primary">
        <strong>Risk Info</strong>
    </div>

    <div class="card-body">
        <ul class="list-group">
            @if(verdict.heatValue) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Heat
                <span class="badge" [ngClass]="getBadgeClass(verdict.heatValue)">{{getRiskDesc(verdict.heatValue)}}</span>
            </li>
            }
            @if(verdict.dryValue) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Dry
                <span class="badge" [ngClass]="getBadgeClass(verdict.dryValue)">{{getRiskDesc(verdict.dryValue)}}</span>
            </li>
            }
            @if(verdict.stormValue) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Storm
                <span class="badge" [ngClass]="getBadgeClass(verdict.stormValue)">{{getRiskDesc(verdict.stormValue)}}</span>
            </li>
            }
            @if(verdict.rainValue) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Rain
                <span class="badge" [ngClass]="getBadgeClass(verdict.rainValue)">{{getRiskDesc(verdict.rainValue)}}</span>
            </li>
            }
            @if(verdict.floodValue) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Flood
                <span class="badge" [ngClass]="getBadgeClass(verdict.floodValue)">{{getRiskDesc(verdict.floodValue)}}</span>
            </li>
            }
        </ul>
    </div>
</div>
}

<div class="alert alert-primary text-center mt-4" role="alert">
    {{verdict.verdict}}
</div>
}