<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <label for="address-search">Search an address</label>
        <div class="input-group">
            <input id="address-search" type="text" class="form-control" formControlName="address"
                placeholder="Enter address" />
            <button class="btn btn-primary" type="submit" [disabled]="addressForm.invalid">Submit</button>
        </div>
    </div>
    <div>{{ addressJson }}</div>
</form>