<img style="position: fixed; width: 100px; height: 100px; margin-left: 10px" src="cfc_logo1.png" />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div>
                <address-search-bar />
            </div>
            <div class="mt-5">
                <street-map />
            </div>
            <div class="mt-5">
                <verdict-display />
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-5 bg-light text-center">
    <div class="container">
        <p class="text-muted">Home Safe Home - 2024</p>
    </div>
</footer>